language: cpp
compiler:
  - g++
notifications:
  email:
    on_success: never
    on_failure: always
    
env:
  matrix:
    - BITNESS='64' OUTPUT_TYPE='DLL' CONFIG_TYPE='Release'
    - BITNESS='64' OUTPUT_TYPE='DLL' CONFIG_TYPE='Debug'
    - BITNESS='64' OUTPUT_TYPE='EXE' CONFIG_TYPE='Release'
    - BITNESS='64' OUTPUT_TYPE='EXE' CONFIG_TYPE='Debug'    
    # No 32 bit DLLs since we can't easily get 32-bit Python to test them on Travis
    - BITNESS='32' OUTPUT_TYPE='EXE' CONFIG_TYPE='Release'
    - BITNESS='32' OUTPUT_TYPE='EXE' CONFIG_TYPE='Debug'  

before_install:
  - export PATH=$HOME/.local/bin:$PATH
  - pip install --user `whoami` pytest
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test && sudo apt-get update && sudo apt-get install -y gcc-5 g++-5 g++-5-multilib libc6-dev-i386

before_script:
  - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++
  - cd cNVMe
  - env
  - python build.py -b $BITNESS -c $CONFIG_TYPE -o $OUTPUT_TYPE
  
script:
  - python -m pytest -v -s "Helper Scripts/test_cnvme.py"