version: 1.0.{build}
image: Visual Studio 2017
configuration:
- Debug
- Release
platform:
- x86
- x64
clone_depth: 10
build:
  project: cNVMe.sln
  verbosity: minimal
test_script:
- cmd: python "cNVMe/Helper Scripts/find_and_run_cnvme.py"